{% extends 'base.html' %}
{% load static %}
{% block page_styles %}
<link rel="stylesheet" href="{% static 'css/productos/productos.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/productos/crear.css' %}">
<link rel="stylesheet" href="{% static 'css/productos/editar.css' %}">
<link rel="stylesheet" href="{% static 'css/productos/eliminar.css' %}">
<link rel="stylesheet" href="{% static 'css/productos/ver.css' %}">
<link rel="stylesheet" href="{% static 'css/productos/estado.css' %}">
{% endblock %}
{% block content %}
<section>
{% include 'productos/productos.html' %}
</section>
{% include 'productos/crear.html' %}
{% include 'productos/editar.html' %}
{% include 'productos/eliminar.html' %}
{% include 'productos/ver.html' %}
{% include 'productos/estado.html' %}
{% endblock %}
{% block page_scripts %}
<script src="{% static 'js/productos/productos.js' %}"></script>
<script src="{% static 'js/productos/crear.js' %}"></script>
<script src="{% static 'js/productos/editar.js' %}"></script>
<script src="{% static 'js/productos/eliminar.js' %}"></script>
<script src="{% static 'js/productos/ver.js' %}"></script>
<script src="{% static 'js/productos/estado.js' %}"></script>
<script src="{% static 'js/sidebar.js' %}"></script>
{% endblock %}